// - - - - - - - - - - - - - - - - - -

// Listing (blog + projects)

// - - - - - - - - - - - - - - - - - -

.listing-post {
	overflow: auto;
	margin-top: 50px;

	@include mq(tabletp) {
		margin-top: 80px;
	}

	@include mq(tabletl) {
		margin-top: 90px;
	}

	@include mq(laptop) {
		margin-top: 120px;
	}

	&:first-child {
		margin-top: 0;
	}

}

h3.listing-post__title {
		max-width: none;
	}

.listing-post__image {
    width: 1em;
    float: left;
    height: 280px;
    background-size: 400px;
    margin-right: 1em;
    background-repeat: no-repeat;

	@include mq(tabletp) {
		width: 25px;
		margin-right: 1em;
	}

	@include mq(tabletl) {
		width: 50px;
		margin-right: 1em;
	}

	@include mq(laptop) {
		width: 100x;
		margin-right: 1em;
	}


	@include mq(desktop) {
		width: 400px;
		margin-right: 2em;
	}

}

.listing-post__content {
	margin-top: 20px;

	@include mq(tabletp) {
		margin-top: 20px;
	}

	@include mq(tabletl) {
		margin-top: 20px;
	}

	@include mq(laptop) {
		margin-top: 20px;
	}

	p {
		max-width: none;
	}

	p .button {
		margin-top: 5px;

		@include mq(tabletl) {
			margin-top: 10px;
		}
	}
}

.listing-post__subtitle {
	margin-top: 5px;
	color: $text-light-color;
}

.pagination {
	margin-top: 0;
	padding: 0 20px;

	@include mq(tabletp) {
		padding: 0 80px;
	}

	@include mq(tabletl) {
		padding: 0 120px;
	}

	@include mq(laptop) {
		padding: 0 140px;
	}

	@include mq(desktop) {
		padding: 0 180px;
	}
}

.pagination__prev,
.pagination__next {
	width: 50%;

	.button {
		display: block;
		text-align: center;
	}
}

.pagination__prev {
	float: left;
	padding-right: $grid-spacing/2;
}

.pagination__next {
	float: right;
	padding-left: $grid-spacing/2;
}

.listing-post img {
	float:left;
	width: 400px;
}
