// - - - - - - - - - - - - - - - - - -

// Listing (blog + projects)

// - - - - - - - - - - - - - - - - - -

.listing-post {
	overflow: auto;

	@include mq(tabletp) {
		margin-top: 80px;
	}

	@include mq(tabletl) {
		margin-top: 90px;
	}

	@include mq(laptop) {
		margin-top: 120px;
	}

	&:first-child {
		margin-top: 0;
	}

}

h3.listing-post__title {
		max-width: none;

}

h3.listing-post__title a {
		font-size: 14px;

	@include mq(phonel) {
		font-size: 17px;
	}

	@include mq(tabletp) {
		font-size: 22px;
	}

	@include mq(tabletl) {
		font-size: 22px;
	}

	@include mq(laptop) {
		font-size: 22px;
	}

	@include mq(desktop) {
		font-size: 22px;
	}
	
}


.listing-post__image {
    float: left;
    margin-right: 1em;
    background-repeat: no-repeat;
    min-height: 100px;

	@include mq(tabletp) {
		margin-right: 1em;
		min-height: 100px;
	}

	@include mq(tabletl) {
		margin-right: 1em;
	}

	@include mq(laptop) {
		margin-right: 1em;
	}


	@include mq(desktop) {
		margin-right: 2em;
	}

}

.listing-post__image {
	max-height: 20em;
}

.listing-post__content {
	margin-top: 0px;

	@include mq(tabletp) {
		margin-top: 0px;
	}

	@include mq(tabletl) {
		margin-top: 0px;
	}

	@include mq(laptop) {
		margin-top: 0px;
	}

	p {
		max-width: none;
	}

	p .button {
		margin-top: 5px;

		@include mq(tabletl) {
			margin-top: 10px;
		}
	}
}

.listing-post__subtitle, {
	margin-top: 5px;
	color: $text-light-color;
}

.listing-post__subtitle, .listing-post__content {
		display: none;

	@include mq(phonel) {
		display: none;
	}

	@include mq(tabletp) {
		display: unset;
	}

	@include mq(tabletl) {
		display: unset;
	}

	@include mq(laptop) {
		display: unset;
	}

	@include mq(desktop) {
		display: unset;
	}

}

.listing-post__content a.button {

		display: none;

	@include mq(phonel) {
		display: none;
	}

	@include mq(tabletp) {
		display: none;
	}

	@include mq(tabletl) {
		display: none;
	}

	@include mq(laptop) {
		display: unset;
	}

	@include mq(desktop) {
		display: unset;
	}

}

.pagination {
	margin-top: 0;
	padding: 0 20px;

	@include mq(tabletp) {
		padding: 0 80px;
	}

	@include mq(tabletl) {
		padding: 0 120px;
	}

	@include mq(laptop) {
		padding: 0 140px;
	}

	@include mq(desktop) {
		padding: 0 180px;
	}
}

.pagination__prev,
.pagination__next {
	width: 50%;

	.button {
		display: block;
		text-align: center;
	}
}

.pagination__prev {
	float: left;
	padding-right: $grid-spacing/2;
}

.pagination__next {
	float: right;
	padding-left: $grid-spacing/2;
}

.listing-post img {
	float:left;
	width: 100px;

	@include mq(phonel) {
		width: 100px;
	}

	@include mq(tabletp) {
		width: 200px;
	}

	@include mq(tabletl) {
		width: 200px;
	}

	@include mq(laptop) {
		width: 400px;
	}

	@include mq(desktop) {
		width: 400px;
	}
}
